@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  min-height: 100vh;
  background: url(bilder/nyb.jpg);
}
.navbar img {
  height: 60px;
  width: auto;
}
.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar li {
  padding: 1rem;
  list-style: none;
  display: block;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: darkcyan;
}
.navbar-links:hover a {
  color: black;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.navbar-toggle {
  display: block;
}
.navbar-links {
  display: none;
  width: 100%;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

i {
  color: aliceblue;
}
footer li {
  display: flex;
  display: inline;
  list-style: none;
  justify-content: space-between;
}

footer p a {
  text-decoration: none;
  color: white;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(250, 246, 246);
  margin: 20%;
}
.about-section {
  padding: 30px;
  text-align: center;
  background-color: #0c143f;
  color: white;
  letter-spacing: 1.5px;
}
.container {
  align-content: center;
  padding: 0 16px;
  background: black;
  color: white;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
h2 {
  color: white;
  font-size: 40px;
  list-style: none;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: darkcyan;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
