@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  min-height: 100vh;
  background: #0c143f;
}
.navbar img {
  height: 60px;
  width: auto;
}
.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar li {
  padding: 1rem;
  list-style: none;
  display: block;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: cyan;
}
.navbar-links:hover a {
  color: black;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.navbar-toggle {
  display: block;
}
.navbar-links {
  display: none;
  width: 100%;
  text-align: center;
}
footer {
  background-color: black;
  display: flex;
  position: absolute;
  bottom: 0%;
  color: aliceblue;
  width: 100%;
  flex-wrap: row;
  justify-content: center;
  gap: 50px;
  list-style: none;
  text-decoration: none;
}
i {
  color: aliceblue;
}
footer li {
  display: flex;
  display: inline;
  list-style: none;
  justify-content: space-between;
}
footer h3 {
  display: block;
  display: flex;
}
footer p a {
  text-decoration: none;
  color: white;
}
main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

p {
  display: flex;
  font-size: normal;
  width: 50%;
  display: block;
  text-align: left;
  float: left;
  margin-right: 10px;
  line-height: 38px;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 25px;
}
h4 {
  display: flex;
  justify-content: center;
  font-size: larger;
  color: purple;
  margin-top: 10px;
  border-width: justify;
  line-height: 50px;
}
p a {
  text-decoration: solid white;
}
hr {
  color: white;
}
main img {
  display: flex;
  height: 300px;
  width: auto;
}
a,
p {
  color: aliceblue;
}
table th tr {
  width: 100%;
  display: flex;
  border: #3c4e73;
  background: #3c4e73;
  width: 100%;
  border-spacing: 50px 10px;
}
