@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  min-height: 100vh;
  background: #0c143f;
}
.navbar img {
  height: 60px;
  width: auto;
  margin-left: 0%;
}
.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar li {
  padding: 1rem;
  list-style: none;
  display: block;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: cyan;
}
.navbar-links:hover a {
  color: black;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.navbar-toggle {
  display: block;
}
.navbar-links {
  display: none;
  width: 100%;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
i {
  color: aliceblue;
}
footer li {
  display: flex;
  display: inline;
  list-style: none;
  justify-content: space-between;
}
footer h3 {
  display: block;
  display: flex;
}
footer p a {
  text-decoration: none;
  color: white;
}
.col-25 {
  padding: 0 16px;
}
.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}
a {
  text-decoration: none;
  color: black;
}
h2 a {
  color: yellowgreen;
}

p,
h1,
h2,
h3,
h4 {
  color: white;
}
h3 {
  color: yellowgreen;
  display: flex;
  justify-content: center;
  word-spacing: 1.5;
  margin-top: 10px;
}
h4 {
  margin-left: 50px;
  font-size: x-large;
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.container {
  align-content: center;
  margin-top: 20px;
  background-color: lightslategray;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
h1 {
  color: white;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
