@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 2px;
}
body {
  min-height: 100vh;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  padding: 15px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: green;
}

.topnav a.active {
  color: white;
  max-width: 150px;
}

.topnav .icon {
  display: none;
}
/*main content*/

img {
  max-width: 100%;
  height: auto;
}
section {
  background: white;
}
main {
  background: #705a6a;
}
.logo {
  max-width: 300px;
  margin-left: auto;
  padding: 20px;
}

iframe {
  max-width: 500px;
  padding: 20px;
}
.gta {
  max-width: 300px;
  padding: 20px;
}

.watchit {
  flex-wrap: wrap;
  display: flex;
  padding: 20px;
  margin: auto;
}
.maitext {
  color: white;
  max-width: 500px;
  padding: 20px;
}
button {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background: green;
  color: white;
}
main button:hover {
  background-color: darkgreen;
  color: black;
}

main a {
  color: white;
}

footer {
  margin-top: auto;
  background: black;
  padding: 40px;
  color: white;
}

/*mediaqueries*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
    color: white;
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 300px) {
  iframe {
    max-width: 200px;
    height: auto;
  }
}
