@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: #18181c;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
header {
  background: black;
  color: white;
  max-width: 100%;
}
h2{
color: white;
}
.items {
  padding: 10px;
  color: black;
}
footer button {
  padding: 4px;
  color: white;
}
.closebtn1 {
  padding: 5px;
  color: black;
}

.spanbar {
  cursor: pointer;
  font-size: 32px;
}
.CARTcorner {
  cursor: pointer;
  font-size: 25px;
}
img {
  width: 100%;
  height: auto;
}
.logoimg {
  max-width: 100px;
  height: auto;
}
.logotop {
  margin: auto;
}

.topnav {
  display: flex;
  padding: 20px;
  align-content: center;
}
.Corner {
  display: flex;
  gap: 11px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #111;
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.loader {
  border: 16px solid lightgrey;
  border-top: 16px solid#0d3875;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3;
  text-align: lef;
  margin: 50px;
  text-transform: capitalize;
}
.spancart {
  cursor: pointer;
}
.checkout {
  justify-content: flex-end;
}

.sideCart {
  position: relative;
  height: 65%;
  width: 0;
  position: fixed;
  z-index: 1;
  flex-direction: column;
  top: 0px;
  display: flex;
  right: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sideCart,
.closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-right: 0px;
}
.maincontainer {
  padding: 50px;
  margin: auto;
}

.images{
  max-width: 300px;
}
.cart a:hover {
  color: darkblue;
}
.cart a {
  color: rgb(152, 255, 152);
}


.starter {
  color: white;
  padding: 20px;
}
.breadcrumb-nav a {
  color: white;
  margin-bottom: 20px;
}
.breadcrumb-nav a:hover {
  color: plum;
  margin-bottom: 20px;
}
footer {
  margin-top: auto;
  max-width: 100%;
  background: #111;
  color: white;
}
.Fotcontainer {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.loader {
  border: 16px solid lightgrey;
  border-top: 16px solid#0d3875;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.descriptiont{
  padding: 5px;
  font-size: 16px;
  max-width: 500px;
}
.shorty {
max-width: 600px;
line-height: 26px;
}
/* Style for the product card */
.card {
  background-color: #05050578;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}
.Products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
}
header{
  background: black;
  width: 100%;
  padding: 20px;
}
a,p{
  color: white;
}
.product-details{
  background-color: rgba(0, 0, 0, 0.306);
  padding: 20px;

}
.details{
  padding: 20px;
}
.price{
max-width: 150px;
background-color: black;
border-radius: 6px;
font-size: 16px;
padding: 10px;
cursor: pointer;

}
.descriptiont{
  padding: 5px;
  font-size: 16px;
  max-width: 500px;
}
.shorty {
max-width: 600px;
line-height: 26px;
}
footer input {
  text-align: center;
  width: 300px;
  margin: auto;
}
footer h3 {
  color: plum;
}
footer a {
  color: white;
}
footer a:hover {
  color: plum;
  text-align: left;
}
footer i {
  font-size: 20px;
}
#theinput {
  text-align: center;
}
footer input {
  color: white;
  padding: 3px;
  border-color: plum;
  background-color: #111;
  border-radius: 4px;
  border: 2px 2px solid plum;
}
footer button {
  background: rgb(32, 32, 96);
}
footer button {
  background: rgb(32, 32, 96);
}
@media screen and (max-width: 600px) {
  #theinput {
    display: none;
  }

  .sideCart {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .LoginB {
    display: none;
  }
}
