@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body {
  min-height: 100vh;

  background: #18181c;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
header {
  background: black;
  color: white;
  max-width: 100%;
}

.spanbar {
  cursor: pointer;
  font-size: 32px;
}
.CARTcorner {
  cursor: pointer;
  font-size: 25px;
}
img {
  width: 100%;
  height: auto;
}
.logoimg {
  max-width: 100px;
  height: auto;
}
.logotop {
  margin: auto;
}

.topnav {
  display: flex;
  padding: 20px;
  align-content: center;
}
.Corner {
  display: flex;
  gap: 11px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #111;
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3;
  text-align: lef;
  margin: 50px;
  text-transform: capitalize;
}
.spancart {
  cursor: pointer;
}
.checkout {
  justify-content: flex-end;
}

.sideCart {
  position: relative;
  height: 65%;
  width: 0;
  position: fixed;
  z-index: 1;
  flex-direction: column;
  top: 0px;
  display: flex;
  right: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sideCart,
.closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-right: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: plum;
}

/*main content*/
img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 20px;
}

.underplace {
  background: white;
}
.aside {
  padding: 20px;
  display: flex;

  margin: auto;
  text-align: left;
  justify-content: center;
  margin: auto;
  gap: 40px;
  max-width: 1400px;
}

.formCcontainer {
  padding: 10px;

  color: white;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  font-size: 20px;
  border-radius: 10px;

  background: #1b203d;
  max-width: 600px;
}
.items {
  padding: 10px;
  color: black;
}
.closebtn1 {
  padding: 5px;
  color: black;
}
footer button {
  padding: 4px;
  color: white;
}

#textera {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.myinput {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.h2 {
  font-size: 3rem;
  margin: 2rem 0rem;
}
.faq {
  color: white;
  max-width: 400px;
}

.faq {
  position: relative;
  padding-bottom: 0px;
  border-bottom: thin dotted #d4d4d4;
}

.faq .question {
  cursor: pointer;
  font-size: 18px;
}

.faq .question::after {
  content: "\2304";
  display: inline-block;
  position: absolute;
  transform: translateY(-10px);
  right: 0;
  font-size: 20px;
  transition: transform 0.2s ease;
  color: white;
}

.faq .question.active::after {
  transform: translateY(0px) rotate(-180deg);
}

.faq .answer {
  max-height: 0;
  transition: max-height 0.1s ease;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  line-height: 26px;
  color: rgb(233, 229, 229);
}
.faq .answer {
  width: 200px;
  padding-right: 20px;
  display: inline-block;
  margin-top: 10px;
}
.faq .answer ol {
  padding-left: 20px;
}
.faq .answer ol li {
  margin-bottom: 10px;
}
form button {
  padding: 5px;
  background-color: #cc6666;

  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}
form button:hover {
  background: green;
  color: white;
}
label {
  margin-top: 1rem;
  display: block;
}
.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}
footer {
  margin-top: auto;
  max-width: 100%;
  background: #111;
  color: white;
}
.Fotcontainer {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer input {
  text-align: center;
  width: 300px;
  margin: auto;
}
footer h3 {
  color: plum;
}
footer a {
  color: white;
}
footer a:hover {
  color: plum;
  text-align: left;
}
footer i {
  font-size: 20px;
}
#theinput {
  text-align: center;
}
footer input {
  color: white;
  padding: 3px;
  border-color: plum;
  background-color: #111;
  border-radius: 4px;
  border: 2px 2px solid plum;
}
footer button {
  background: rgb(32, 32, 96);
}
footer button {
  background: rgb(32, 32, 96);
}
@media screen and (max-width: 600px) {
  #theinput {
    display: none;
  }

  .sideCart {
    max-width: 300px;
  }
  .aside {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .LoginB {
    display: none;
  }
}
