@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 2px;
}
body {
  min-height: 100vh;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  padding: 15px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: green;
}

.topnav a.active {
  color: white;
  max-width: 150px;
}

.topnav .icon {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}
main {
  margin: auto;
  align-items: center;
}

.maincontainer {
  padding: 10px;
  width: 100%;
  text-align: left;
  background-blend-mode: multiply;
  justify-content: space-around;
  background-image: url(bilder/mainimgc/adventure.jpg);
  background-position: center;
  background-size: cover;
  background-color: #3c4f56;
  height: 40vh;
  color: yellow;
  font-size: 16px;
}
h1 {
  padding: 20px;
  color: yellow;
}
h3 {
  color: purple;
  padding: 20px;
  font-size: 30px;
}
.underh {
  text-align: center;
  color: purple;
  font-size: 20px;
  font-weight: 20px;
}
.logo {
  max-width: 200px;
  margin: auto;
}
.matext {
  border: 2px solid plum;
  max-width: 300px;
  padding: 20px;

  background-size: cover;
  background-blend-mode: multiply;
}

.matext button {
  border: solid yellow;
  background: transparent;
  padding: 5px;
  border-radius: 100px;
  color: white;
}
main button a {
  color: plum;
  font-size: 15px;
}

.column {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}
.row1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.row3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.column a {
  color: white;
  padding: 5px;
  font-size: 30px;
}
.column p {
  color: yellow;
  text-align: left;
  font-size: 25px;
}
.column img {
  max-width: 800px;
  padding: 20px;
  border-radius: 50px;
}

.img1,
.img2,
.img3 {
  background: #65757b;
  padding: 20px;
  border-radius: 30px;
}
footer {
  margin-top: auto;
  background: black;
  padding: 40px;
  color: white;
}

/*mediaqueris navigation*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
    color: white;
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
  }
}
/*mediaqueries the rest*/
@media screen and (max-width: 600px) {
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .row1,
  .row2,
  .row3 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1250px) {
  .column img {
    max-width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .column img {
    max-width: 145px;
  }
  .img1,
  .img2,
  .img3 {
    padding: 10px;
  }
}
