@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  min-height: 100vh;
  background: #0c143f;
}
.navbar img {
  height: 60px;
  width: auto;
}
.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar li {
  padding: 1rem;
  list-style: none;
  display: block;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: cyan;
}
.navbar-links:hover a {
  color: black;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.navbar-toggle {
  display: block;
}
.navbar-links {
  display: none;
  width: 100%;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  text-align: center;
}
i {
  color: aliceblue;
}
footer li {
  display: flex;
  display: inline;
  list-style: none;
  justify-content: space-between;
}

footer p a {
  text-decoration: none;
  color: white;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
h2 {
  color: white;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
