@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: #18181c;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
header {
  background: black;
  color: white;
  max-width: 100%;
}
.sideCart a{
  color: black;
}

.spanbar {
  cursor: pointer;
  font-size: 32px;
}
.CARTcorner {
  cursor: pointer;
  font-size: 25px;
}
img {
  width: 100%;
  height: auto;
}
.logoimg {
  max-width: 100px;
  height: auto;
}
.logotop {
  margin: auto;
}

.topnav {
  display: flex;
  padding: 20px;
  align-content: center;
}
.Corner {
  display: flex;
  gap: 11px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #111;
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3;
  text-align: lef;
  margin: 50px;
  text-transform: capitalize;
}
.spancart {
  cursor: pointer;
}
.checkout {
  justify-content: flex-end;
}

.sideCart {
  position: relative;
  height: 65%;
  width: 0;
  position: fixed;
  z-index: 1;
  flex-direction: column;
  top: 0px;
  display: flex;
  right: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sideCart,
.closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-right: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: plum;
}
footer {
  margin-top: auto;
  max-width: 100%;
  background: #111;
  color: white;
}
.Fotcontainer {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/*main content */
img {
  max-width: 100%;
  height: auto;
}

main {
  background: #18181c;
  padding: 40px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #0c143f;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  color: white;
  max-width: 500px;
}
a,
i {
  color: white;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
