@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: #18181c;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
footer button {
  padding: 4px;
  color: white;
}
.items {
  padding: 10px;
  color: black;
}
.closebtn1 {
  padding: 5px;
  color: black;
}

header {
  background: black;
  color: white;
  max-width: 100%;
}

.spanbar {
  cursor: pointer;
  font-size: 32px;
}
.CARTcorner {
  cursor: pointer;
  font-size: 25px;
}
img {
  width: 100%;
  height: auto;
}
.logoimg {
  max-width: 100px;
  height: auto;
}
.logotop {
  margin: auto;
}

.topnav {
  display: flex;
  padding: 20px;
  align-content: center;
}
.Corner {
  display: flex;
  gap: 11px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #111;
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3;
  text-align: lef;
  margin: 50px;
  text-transform: capitalize;
}
.spancart {
  cursor: pointer;
}
.checkout {
  justify-content: flex-end;
}

.sideCart {
  position: relative;
  height: 65%;
  width: 0;
  position: fixed;
  z-index: 1;
  flex-direction: column;
  top: 0px;
  display: flex;
  right: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-radius: 10px;
}
.sideCart,
.closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-right: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: plum;
}
footer {
  margin-top: auto;
  max-width: 100%;
  background: #111;
  color: white;
}
.Fotcontainer {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
img {
  max-width: 100%;
  min-height: auto;
}

/*main side*/
.boxer {
  max-width: 400px;
  position: absolute;
  opacity: 0.3;
  height: auto;
  border-radius: 10px;
}
.maincontainer {
  width: 100%;
  text-align: left;
  background-blend-mode: multiply;
  justify-content: space-around;
  background-image: url(bilder/mainimgc/adventure.jpg);
  background-position: center;
  background-size: cover;
  background-color: #696d84;
  height: 40vh;
  font-size: 16px;
  position: relative;
}
.explor {
  padding: 20px;
  text-align: center;
}
.explor button {
  font-size: 20px;

  font-weight: 200;
  padding: 5px;
  background-color: yellow;
  border: none;
}

.catoContainer {
  width: 100%;
  padding: 20px;
}
.subConta {
  padding: 10px;
  color: white;
}
.subb {
  text-align: center;
}
.subb button {
  color: white;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid black;
  background: blue;
  font-size: 20px;
}
.insideContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.playcontainer {
  position: absolute;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: yellow;
}
.playBtn {
  font-weight: 800;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  border: none;
  background: yellow;
}
.playBtn:hover {
  background: green;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.h33 {
  text-align: left;
}

.textbox {
  text-align: center;
  padding: 50px;
  margin: auto;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.329);
  border: 2px 2px solid whitesmoke;
  align-items: center;
}
.textbox button {
  color: black;
  background: yellow;
  padding: 4px;
  border-radius: solid black 6px;
}
.catImage {
  display: flex;
  border-radius: 50%;
  filter: drop-shadow(green);
}
.main2 {
  margin: auto;
  max-width: 1000px;
}
.btninfo {
  border-color: grey;
  cursor: pointer;
}
.h1 {
  font-size: 15px;
  color: plum;
}
.pintro2 {
  font-size: 14px;
}
.loader {
  border: 16px solid lightgrey;
  border-top: 16px solid#0d3875;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro {
  position: absolute;
  transform: translateX(0%);
  left: 0%;
  border: 2px 2px solid blue;
  padding: 20px;
  animation: center 2s infinite;
  font-size: 25px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.531);
  animation-duration: 9s;
}
@keyframes center {
  0%,
  10% {
    transform: translateX(0%);
    margin: auto;
  }
  90%,
  100% {
    transform: translateX(-85%);
    left: 90%;
  }
}

.textt {
  padding: 10px;
}
.textt a {
  color: white;
}
.textt a:hover {
  color: plum;
}

.maininside {
  display: flex;
}
.myicons {
  display: flex;
  justify-content: space-around;
}
.myicons i {
  font-size: 60px;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px;
}
.infoContainer {
  padding: 10px;
}
.REKL {
  color: white;
  padding: 10px;
  font-size: 20px;
}
.infoC {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  color: black;
}
a {
  color: white;
  cursor: pointer;
}
a:hover {
  color: plum;
}
.nescl3 {
  color: plum;
}

.btninfo {
  padding: 4px;
  font-size: 10px;
  border-radius: 10px;
}

.card {
  width: 250px;
  height: 300px;
  position: relative;

  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in;
  font-size: 9px;
  color: white;
}
.images {
  width: 140px;
  padding: 7px;
  height: auto;
  border-radius: 15px;
  text-align: left;
}
.title {
  font-size: 1rem;
  padding: 5px;
  text-transform: uppercase;
  color: white;
}
p {
  font-size: 0.8rem;
}

.price {
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  color: white;

  text-decoration: line-through;
}
.discountedPrice {
  background: rgb(51, 51, 232);
  max-width: 50px;
  padding: 4px;
  border: 2px 2px solid black;
  border-radius: 4px;
  font-size: 12px;
}
.myinput {
  display: none;
}
footer {
  margin-top: auto;
  max-width: 100%;
  background: #111;
  color: white;
}
.Fotcontainer {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer input {
  text-align: center;
  width: 300px;
  margin: auto;
}

footer h3 {
  color: plum;
}
footer a {
  color: white;
}
footer a:hover {
  color: plum;
  text-align: left;
}
footer i {
  font-size: 20px;
}
#theinput {
  text-align: center;
}
footer input {
  color: white;
  padding: 3px;
  border-color: plum;
  background-color: #111;
  border-radius: 4px;
  border: 2px 2px solid plum;
}
footer button {
  background: rgb(32, 32, 96);
}
footer button {
  background: rgb(32, 32, 96);
}
@media screen and (max-width: 600px) {
  #theinput {
    display: none;
  }

  .sideCart {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .LoginB {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .insideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .intro {
    font-size: 11px;
  }
}
