@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}
body {
  min-height: 100vh;
}
.navbar img {
  height: 60px;
  width: auto;
}
.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar li {
  padding: 1rem;
  list-style: none;
  display: block;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: cyan;
}
.navbar-links:hover a {
  color: black;
}
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
}
.navbar-toggle {
  display: block;
}
.navbar-links {
  display: none;
  width: 100%;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  text-align: center;
}
i {
  color: aliceblue;
}
footer li {
  display: flex;
  display: inline;
  list-style: none;
  justify-content: space-between;
}

footer p a {
  text-decoration: none;
  color: white;
}
